{% extends "base.html" %}
{% block title %}FAQ TL:DR Newspaper{% endblock %}
{% block content%}

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">



    <div class="max-max mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">If you enjoy TL:DR Newspaper Consider buying us a cup of coffee</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Running TLRD Newspaper takes a tremendous amount of computing power which is not cheap. This is why we ask visitors for a cup of coffee so we can keep providing bias-free newssummaries for you.</p>

        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Here is a breakdown of what a cup of coffee - equivalent gets us:</h2>

        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white">Goal for May $1500</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">45%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
        </div>
        <br>
        <a href="https://www.buymeacoffee.com/petervd" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
        A $4,50 cappucino gets us about 300 newsarticles clustered and summarized


    
    </div>


  
</div>
</main>


{% endblock%}