
  <!-- HTML Meta Tags -->
  <meta name="description" content="{{article.summary}}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://tldrnewspaper.com/article/{{article.slug}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{article.title}}">
  <meta property="og:description" content="{{article.summary}}">
  <meta property="og:image" content="{{article.sources.last.urltoimage}}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="tldrnewspaper.com">
  <meta property="twitter:url" content="https://tldrnewspaper.com/article/{{article.slug}}">
  <meta name="twitter:title" content="{{article.title}}">
  <meta name="twitter:description" content="{{article.summary}}">
  <meta name="twitter:image" content=="{{article.sources.last.urltoimage}}">
        